@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

.animate-shimmer {
  background-size: 200% 200%;
  animation: shimmer 3s linear infinite;
}
